@import "_variables";
header{            
    padding: 0 10px;
    position: relative;
    h2#developer{
        background-color: $main-color;
        display: inline-block;        
        color: #fff;
        position: absolute;        
    }
    h2 span#icon-menu{
        float: right;    
        color: $main-color;
        font-size: $standar-size*2;
        cursor: pointer;
    }
    ul#menu{
        list-style: none; 
        z-index: 100;
        li a{
            text-decoration: none;
            display: block;
            padding: 10px 20px;    
            transition: all 0.2s;
            color: #fff;
            background-color: $main-color;
            border-radius: 10px;
            &:hover, &:focus, &:active {
                display: block;
                text-decoration: none;
                color: $main-color;
                background-color: transparent;                
            }
            
        }
        
    }
}

/*------------CELULARES-----*/
@media screen and (max-width:767px){
    h2#developer{
        font-size: $standar-size;    
        padding: 15px 5px 5px 100px;
        left: -100px;
    }  
}
/*------------TABLET-----*/
@media screen and (min-width:768px) and (max-width:991px){
   
}
/*------------DESKTOP-----*/
@media screen and (min-width:992px) and (max-width:1199px){
  
}