* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import "_variables";
body {
    
    section.hero{
        background-image: url(../img/maday.png);
        background-size:cover;
        background-position: top center;
        background-repeat: no-repeat;    
        background-attachment: fixed; 
        height: 100vh;
    }
    div.hero-container{
        position: absolute;        
        top: 5%;
        bottom:5%;
        left: 5%;
        right: 5%;
        width: 90%;
        height: 90%;
        outline: solid 4px $main-color;              
        @import "_header";
    }
}



 