header{            
    padding: 0 10px;
    position: relative;
    h2#developer{
        background-color: $main-color;
        display: inline-block;        
        color: #fff;
        position: absolute; 
        padding: 15px 5px 5px 50px; 
        left: -5%;
    }
    h2 span#icon-menu{
        float: right;    
        color: $main-color;
        font-size: $standar-size*2;
        cursor: pointer;
    }
    ul#menu{
        list-style: none; 
        z-index: 100;
        li a{
            text-decoration: none;
            display: block;
            padding: 10px 20px;    
            transition: all 0.2s;
            color: #fff;
            border-radius: 10px;
            &:hover, &:focus, &:active {
                display: block;
                text-decoration: none;
                color: $main-color;
                background-color: transparent;                
            }
            
        }
        
    }
}

/*------------CELULARES-----*/
@media screen and (max-width:600px){
    h2#developer{
        font-size: $standar-size;
    }
    ul#menu{        
        margin-top: 150%;
        li a{
            border: solid 1px $main-color; 
            padding: 0 30px;
        }        
    }    
}
@media screen and (min-width:601px) and (max-width:767px){
    h2#developer{
        font-size: $standar-size;                   
    }   
    ul#menu{  
        padding-left: 50px;
        li{
            a{
                border: solid 1px $main-color; 
                display: block;
            }
        }        
    }
}
/*------------TABLET-----*/
@media screen and (min-width:768px) and (max-width:991px){
    ul#menu{  
        padding-left: 50px;
        li{
            a{
                border: solid 1px $main-color; 
            }
        }        
    }
   
}
/*------------DESKTOP-----*/
@media screen and (min-width:992px) and (max-width:1199px){
    ul#menu{
        li a{
            background-color: transparent; 
            border: solid 1px $main-color;
        }        
    }  
}
@media screen and (min-width:1200px){
    h2#developer{
        font-size: $standar-size*4;    
        padding: 15px 5px 5px 100px;        
        left: -100px;
    }  
    ul#menu{  
        padding-left: 50px;
        li{
            a{
                border: solid 1px $main-color; 
            }
        }        
    }
}